:root {
    --color1-gold: #D5966C;
    --color2-black: #151515;
    --color3-grey: #444444;
    --color4-white: #FFFFFF;
  }
  
  html {
    min-height: 100%;
    
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%; /* base font size to 10px, to facilitate using REM unit */
    font-family: 'Big Shoulders Display', cursive;
  }

  ::-webkit-scrollbar {
    display: none;
  }