.homeMiddleContainer {
  padding: 18rem 0;
}

.gridMiddle {
  max-width: 111rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
}

.yourDay {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.yourDay h2 {
  color: var(--color2-black);
  font-weight: 900;
  font-size: 6rem;
  line-height: 6rem;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
}

.yourDay p {
  font-family: "Outfit", sans-serif;
  color: var(--color3-grey);
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 3.2rem;
  width: 35rem;
}

.gridMiddle img {
  width: 100%;
}

.img1 {
  height: 40rem;
  object-fit: cover;
  grid-column-start: 2;
  grid-column-end: 4;
}

.img2 {
  height: 72rem;
  object-fit: fill;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.img3 {
  height: 100%;
  object-fit: cover;
  grid-column-start: 3;
  grid-row-end: 3;
}

.comeAndInspired {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--color2-black);
  padding: 6.5rem 4.7rem;
  grid-column-start: 3;
  grid-row-end: 4;
}

.comeAndInspired h2 {
  color: var(--color4-white);
  font-weight: 900;
  font-size: 6rem;
  line-height: 6rem;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
}

.comeAndInspired p {
  font-family: "Outfit", sans-serif;
  color: var(--color4-white);
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 3.2rem;
  width: 35rem;
}

/* iPad Air 820 x 1180  */

@media (max-width: 820px) {
  .homeMiddleContainer {
    padding: 12rem 0;
  }
  .gridMiddle {
    max-width: 90%;
    min-height: 113.1rem;
    grid-gap: 1.1rem;
  }

  .yourDay h2 {
    width: 22.3rem;
    font-size: 5rem;
    line-height: 4.5rem;
    margin-bottom: 2.4rem;
  }

  .yourDay p {
    font-size: 1.8rem;
    line-height: 2.8rem;
    width: 22.3rem;
  }

  .comeAndInspired {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--color2-black);
    padding: 8.5rem 2.9rem;
    grid-column-start: 3;
    grid-row-end: 4;
  }

  .comeAndInspired h2 {
    font-size: 5rem;
    line-height: 4.5rem;
    margin-bottom: 2.4rem;
    width: 22.3rem;
  }

  .comeAndInspired p {
    font-family: "Outfit", sans-serif;
    font-size: 1.8rem;
    line-height: 2.8rem;
    width: 22.3rem;
  }
}

/* iPhone 11 Pro Max / XR 414 x 896  */

@media (max-width: 414px) {
  .homeMiddleContainer {
    padding: 12rem 0;
    width: 90%;
    margin: auto;
  }

  .gridMiddle {
    max-width: 34.3rem;
    grid-template-columns: unset;
    gap: 2rem;
  }

  .yourDay {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .yourDay h2 {
    width: 100%;
    margin-bottom: 2.1rem;
  }

  .yourDay p {
    width: 100%;
    margin-bottom: 3.2rem;
  }

  .img1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: unset;
    grid-column-end: unset;
  }

  .img2 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: unset;
    grid-column-end: unset;
  }

  .img3 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: unset;
    grid-column-end: unset;
  }

  .comeAndInspired {
    height: 29.3rem;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: unset;
    grid-column-end: unset;
  }
  .comeAndInspired h2 {
    width: 100%;
  }

  .comeAndInspired p {
    width: 100%;
  }
}
