.footerContainer {
  height: 24.4rem;
  width: 100%;
  background: var(--color2-black);
  color: var(--color4-white);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 8rem 16.5rem;
}

.footerContainer h3 {
  font-size: 3.6rem;
  line-height: 3.6rem;
  text-transform: uppercase;
}

.footerContainer p {
  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 300;
  min-width: 43rem;
  max-width: 43rem;
}

.icons {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}

.icons img {
  height: 2rem;
}
